__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.swp
.idea/
.vscode/
.DS_Store
config.yaml
routers.txt
core_switches.txt
acc_switches.txt
dc_routers_xr.txt
dc_routers_xe.txt
dc_switches_nxos.txt
dc_switches_xe.txt
office_wan_devices.txt
test_destinations.txt
*.csv
*.log